/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <100>;

#define COMBO_TERM_FAST 50
#define COMBO_TERM_SLOW 50

// left ctrl cluster
ZMK_COMBO(ctrl,    &kp LCTRL,     LM5 LB5,     DEF, COMBO_TERM_FAST)

// number row is between row 2 and 3
ZMK_COMBO(grave, &kp GRAVE,     LM5 LT5,     DEF NAV, COMBO_TERM_SLOW)
ZMK_COMBO(one,   &kp N1,        LM4 LT4,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(two,   &kp N2,        LM3 LT3,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(three, &kp N3,        LM2 LT2,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(four,  &kp N4,        LM1 LT1,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(five,  &kp N5,        LM0 LT0,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(six,   &kp N6,        RM0 RT0,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(seven, &kp N7,        RM1 RT1,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(eight, &kp N8,        RM2 RT2,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(nine,  &kp N9,        RM3 RT3,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(zero,  &kp N0,        RM4 RT4,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(minus, &kp MINUS,     RT5 RM5,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(equal, &kp EQUAL,     RM5 RB5,     DEF, COMBO_TERM_SLOW)

// FN cluster
ZMK_COMBO(f1,   &kp F1,        LM4 LT4,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f2,   &kp F2,        LM3 LT3,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f3,   &kp F3,        LM2 LT2,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f4,   &kp F4,        LM1 LT1,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f5,   &kp F5,        LM0 LT0,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f6,   &kp F6,        RM0 RT0,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f7,   &kp F7,        RM1 RT1,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f8,   &kp F8,        RM2 RT2,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f9,   &kp F9,        RM3 RT3,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f10,  &kp F10,       RM4 RT4,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(f11,  &kp F11,       RT5 RM5,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f12,  &kp F12,       RM5 RB5,     NAV, COMBO_TERM_SLOW)

// brackets cluster
ZMK_COMBO(rpar, &kp RPAR,      LM2 LM0,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(rbkt, &kp RBKT,      LM2 LM1,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(lbkt, &mt RBKT LBKT, LM2 LM1,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(lpar, &mt RPAR LPAR, LM2 LM0,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(lbrc, &mt RBRC LBRC, LM2 LM3,     DEF, COMBO_TERM_FAST)

//ZMK_COMBO(rbrc, &kp RBRC,      LM2 LM3,     NAV, COMBO_TERM_FAST)

ZMK_COMBO(pipe, &mt BSLH PIPE, LB0 LM0,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(bslh, &kp BSLH,      LB0 LM0,     NAV, COMBO_TERM_FAST)
ZMK_COMBO(under,&kp UNDER,     LB1 LB2,     DEF NAV, COMBO_TERM_FAST)
ZMK_COMBO(tilde,&kp TILDE,     LT1 LT2,     DEF NAV, COMBO_TERM_FAST)

ZMK_COMBO(enter,&kp ENTER,     RM2 RM3,     DEF NAV, COMBO_TERM_SLOW)
