/*                KEY POSITIONS

  ╭─────────────────────╮ ╭─────────────────────╮
  │ LT4 LT3 LT2 LT1 LT0 │ │ RT0 RT1 RT2 RT3 RT4 │
  │ LM4 LM3 LM2 LM1 LM0 │ │ RM0 RM1 RM2 RM3 RM4 │
  │ LB4 LB3 LB2 LB1 LB0 │ │ RB0 RB1 RB2 RB3 RB4 │
  ╰───────╮ LH2 LH1 LH0 │ │ RH0 RH1 RH2 ╭───────╯
          ╰─────────────╯ ╰─────────────╯ */

// use global-quick-tap-ms for combos (requires PR 1387)
#undef COMBO_HOOK
#define COMBO_HOOK global-quick-tap-ms = <100>;

#define COMBO_TERM_SLOW 50
#define COMBO_TERM_FAST 30

// number cluster
ZMK_COMBO(one_,  &kp N1,        LT4 LM4,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(two_,  &kp N2,        LT3 LM3,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(three, &kp N3,        LM2 LT2,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(four,  &kp N4,        LM1 LT1,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(five,  &kp N5,        LM0 LT0,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(six_,  &kp N6,        LB4 LM4,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(seven_,&kp N7,        LB3 LM3,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(eight, &kp N8,        LM2 LB2,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(nine,  &kp N9,        LM1 LB1,     DEF, COMBO_TERM_SLOW)
ZMK_COMBO(zero,  &kp N0,        LM0 LB0,     DEF, COMBO_TERM_SLOW)

// FN cluster
ZMK_COMBO(f1_,   &kp F1,        LT4 LM4,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f2_,   &kp F2,        LT3 LM3,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f3,    &kp F3,        LM2 LT2,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f4,    &kp F4,        LM1 LT1,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f5,    &kp F5,        LM0 LT0,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f6_,   &kp F6,        LB4 LM4,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f7_,   &kp F7,        LB3 LM3,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f8,    &kp F8,        LM2 LB2,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f9,    &kp F9,        LM1 LB1,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f10,   &kp F10,       LM0 LB0,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f11,   &kp F11,       LB1 LB2,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(f12,   &kp F12,       LB0 LB1,     NAV, COMBO_TERM_SLOW)

// left hand special cluster
ZMK_COMBO(tab,   &kp TAB,       LT2 LT3,     DEF NAV, COMBO_TERM_SLOW)
ZMK_COMBO(esc,   &kp ESC,       LM2 LM3,     DEF NAV, COMBO_TERM_SLOW)


// symbol cluster
ZMK_COMBO(lbkt,  &kp LBKT,      RT1 RM1,     DEF NAV, COMBO_TERM_SLOW)
ZMK_COMBO(rbkt,  &kp RBKT,      RT2 RM2,     DEF NAV, COMBO_TERM_SLOW)

ZMK_COMBO(grave2,&kp GRAVE,     RT3 RT4,     DEF NAV, COMBO_TERM_SLOW)
ZMK_COMBO(minus, &kp MINUS,     RT0 RM0,     DEF NAV, COMBO_TERM_SLOW)
ZMK_COMBO(equal, &kp EQUAL,     RM0 RB0,     DEF NAV, COMBO_TERM_SLOW)

ZMK_COMBO(bslh,  &kp BSLH,      RM4 RT4,     DEF NAV, COMBO_TERM_SLOW)
ZMK_COMBO(sqt,   &kp SQT,       RM4 RB4,     DEF NAV, COMBO_TERM_SLOW)

// right hand special cluster
ZMK_COMBO(bspc,  &kp BSPC,      RT2 RT3,     DEF, COMBO_TERM_FAST)
ZMK_COMBO(del,   &kp DEL,       RT2 RT3,     NAV, COMBO_TERM_SLOW)
ZMK_COMBO(enter, &kp ENTER,     RM2 RM3,     DEF NAV, COMBO_TERM_SLOW)
